body {
    min-block-size: 100vb;
    font-family: sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: hsl(0deg 72% 90%);
    background-image: radial-gradient(
            at right bottom,
            hsl(85deg 85% 35%),
            hsl(50deg 98% 64%),
            hsl(0deg 72% 51%));
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(85deg 85% 5% / 50%);
    padding-block: 2rem;
    padding-inline: 3rem;
    margin: 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}

.header__logo {
    margin: 0;
}

.header__image {
    display: block;
}

.header__ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.header__a {
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    background-color: hsl(85deg 85% 20% / 70%);
    color: hsl(0deg 72% 90% / 70%);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    border-radius: 0.5rem;
}

.header__a:hover {
    color: hsl(0deg 72% 90% / 100%);
}

form {
    align-items: center;
}



@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 1rem;
    }
}
